
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 10%;
    gap: 3px;
   
   }

a {
    .image {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
}

.image:hover {
    transform: scale(1.1);
    transition-duration: 700ms;

}

/* Overlay background */

.grid {
    display: block;
    text-align: center;
    position: absolute;
    top: 0; left: 0;
    background: rgb(6, 6, 6, 0.8);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: opacity 0.3s ease;
    
}

.grid img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 5%; 
    border-radius: 10px;
    box-shadow: 0 0 15px black;
     
}
 
.btn {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 50px;
    color: aliceblue;
    text-decoration: none;

}

.grid:target {
    opacity: 1;
    visibility: visible;
    }
