* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bg {
    padding: 30px 30px 0px 50px;
    height: 70vh;
    width: 100%;
    background-image: url(https://images.samsung.com/is/image/samsung/assets/in/S25FE_1440x640_PCD.jpg?imwidth=1536);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.font1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

.font2 {
    padding-top: 150px;
}

.bc {
    background-color: rgb(242, 241, 240);
    display: inline;
    padding: 5px;
}

.cen {
    margin-top: 40px;
}


.container {

    display: flex;
    justify-content: center;

    #col {
        font-size: 30px;

    }
}

.car2 {

    background-image: url(https://images.samsung.com/is/image/samsung/assets/in/S25FE_1440x640_PCD.jpg?imwidth=1536);
    height: 60vh;
    width: 100%;

    .on {
        padding: 30px;
    }

    .tw {
        padding: 30px;
    }

    .th {
        background-color: black;
        color: white;
        display: inline;
        margin-left: 70px;

    }
}

.chan {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.bk {
    background-color: rgb(112, 104, 93);
    margin-top: 30px;
    font-size: 30px;
}

.cd {
    /* display: none; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: black;
    transform: scale(1.06);
    transition-duration: 500ms;
}





@media (max-width: 576px) {
    .cen {
        margin-top: 170px;
    }

    .chan {
        display: grid;
        grid-template-columns: 1fr 1fr;


    }

}

.tr {
    margin-top: 30px;
    font-size: 30px;
}

.er {
    margin-bottom: 40px;
}

.img-thumbnail:hover {
    transform: scale(1.05);
    transition: 500ms;

}